<li>
	<%= gravatar_for user, :size => 30 %><span>&nbsp</span><%= link_to user.username, user %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= user.real_name %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= user.email %>
	<% if current_user.admin? %>
  | 	<%= link_to "Delete", user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.name}" %>
	<% end %>
</li>