<h1><%= gravatar_for @user %><span>&nbsp;</span><%= @user.username %></h1>
<h3><%= link_to 'Edit Profile', edit_user_path(@user) %></h3>

<p id="notice"><%= notice %>

<hr>
<% if @user.user_bookmarks.count >= 1 %>
	<br />
	<%= link_to 'Add Bookmark', new_bookmark_path(@current_user) %>
<% else %>
	<hr>
	<%= render '/layouts/bookmarks'%>
<% end %>

