<h1><%= gravatar_for @user %><span>&nbsp;</span><%= @user.username %></h1>
<p id="notice"><%= notice %></p>

<div><% @user.bookmarks.each do |b| %>
	<p><b>URL:</b>&nbsp;&nbsp;<%= b.url %>&nbsp;&nbsp;<b>Name:</b>&nbsp;&nbsp;<%= b.name %></p><hr>
<% end %></div>